# Basics
- operators
- variables
- datatypes
- keywords
- io

In [2]:
2 + 2

4

In [3]:
10/3

3.3333333333333335

In [4]:
10//3

3

In [5]:
10**3

1000

In [6]:
157**5

95388992557

# Assignment operator 
'= += -= *= /= //= **='

In [7]:
x = 123    #direct assign
y=2.3910    #update assign
z= False
a= None
b='false'

In [8]:
x = 5
x += 10
x -= 2
x *= 3
Name ='Mustufa'
Name +='âœ”'

# Conditional operator
```< => > <= == !=```

In [9]:
a = 10
b = 5

In [10]:
a<b

False

In [11]:
a!=b

True

In [12]:
b<a

True

In [13]:
a < b > 10

False

# Logical operator
and
or 
not

In [14]:
a = 10
b = 20
a < b and b< 30

True

In [15]:
a > b or b > 30

False

In [16]:
print(a < b and b< 30)
print(a > b or b > 30)
#if you want multiple operator use print() function

True
False

In [17]:
fruits=[ 'apple','banana','cherry']
print('apple' in fruits)
print('orange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)

True
False
True
False

In [18]:
x = 20
y = x
print(x,y)
print(x==y)
print(x is y) #reference equality

20 20
True
True

In [19]:
x=[1,2,3]
y=x 
z= x.copy()
print(x is y)
print(x is z)
print(x == y)
print(x == z)

True
False
True
True

# Data types (9)
- integer `int`
- float `float`
- boolean `bool`
- None `nonetype`
- string `str`
- list `list`
- tuple `tuple`
- set `set`
- dictionary`dict`

In [20]:
coords = (10,20,32)
names = {'alex',"alan",'alice','arti'}
info = {'name': "Mustufa","age": 22}

In [23]:
del b #delete b from the memory