##Set
- create
- method

In [12]:
x= set()
print(x)
y={1,2,3,4,5,6,7,8,9,10}
print(y)
fruits={'apple','banana','cherry'}
print(fruits)
data={'apple',205,3.14,'banana'}
print(data)
a=set([1,2,3,4,5,6,7,8,9,10])
b=set('herry potter')
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'cherry', 'banana', 'apple'}
{3.14, 205, 'apple', 'banana'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'t', 'e', 'r', ' ', 'y', 'h', 'p', 'o'}

In [13]:
a= set()
a.add("first")
a.add("second")
a.add("third")
print(a)

{'third', 'first', 'second'}

In [16]:
a.update(['appleseed','applepie','applecider'])
print(a)

{'third', 'appleseed', 'first', 'applecider', 'second', 'applepie'}

In [17]:
a.add("appleseed")
print(a)

{'third', 'appleseed', 'first', 'applecider', 'second', 'applepie'}

In [18]:
a.discard('appleseed')
a.discard('applepie')
a.discard('appleseed')
print(a)

{'third', 'first', 'applecider', 'second'}

In [21]:
a={1,2,3}
b={3,4,5}
c={6,7,8}
ab=a.union(b)
print(ab)

print(a.union(b,c))
print(a|b|c) # | is union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
print(a.intersection(b))
print(a & b) #& is intersection
print(a & c)
print(a & b & c)

{3}
{3}
set()
set()

In [24]:
print(a.difference(b))
print(b.difference(a))
print(a-b) # - is difference
print(a-c)

{1, 2}
{4, 5}
{1, 2}
{1, 2, 3}

In [25]:
print(a.symmetric_difference(b))
print(a^b) # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

## Dictionary

In [3]:
data = ["Alex",True,False,29,"New york","Photographer"]
datadict={
    'name':'Alex',
    'isMarried' : True,
    'haschilder': False,
    'age': 29,
    'city':'New york',
    'profession': 'Photographer'
}

movies={}
expenditure=dict(
    food=500,
    rent=2000,
    insurance=200
)

print(datadict)
print(expenditure)

{'name': 'Alex', 'isMarried': True, 'haschilder': False, 'age': 29, 'city': 'New york', 'profession': 'Photographer'}
{'food': 500, 'rent': 2000, 'insurance': 200}

- creation
- accessing
- add or update
- remove
- traversal

In [5]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
#print(datadict['state']) #keyerror

Alex
True
New york

In [6]:
print(datadict.get('city'))
print(datadict.get('City')) #City is not in the dictionary
print(datadict.get('age',100))
print(datadict.get('AGE',100)) #AGE is not in the dictionary
#print(datadict.get('City'))

New york
None
29
100

In [7]:
movies['Deadpool & Wolverine']='Shawn Levy'
movies['Bahubali']='SS Rajmouli'
movies['Inception']='Christoper Nolan'
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'Bahubali': 'SS Rajmouli', 'Inception': 'Christoper Nolan'}

In [12]:
movies.update(
    {
        'The Dark kniight': 'Christoper Nolan',
        'The Prestige': 'Christoper Nolan',
        'The Matrix':'Wachowski Brothers',
    }
)
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'Bahubali': 'SS Rajmouli', 'Inception': 'Christoper Nolan', 'The Dark kniight': 'Christoper Nolan', 'The Prestige': 'Christoper Nolan', 'The  Matrix': 'Wachowski Brothers', 'The Matrix': 'Wachowski Brothers'}

In [13]:
datadict['name']='Alexander'
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'haschilder': False, 'age': 29, 'city': 'New york', 'profession': 'Photographer'}

In [16]:
movies.pop('Bahubali')

'SS Rajmouli'

In [17]:
movies

{'Deadpool & Wolverine': 'Shawn Levy',
 'Inception': 'Christoper Nolan',
 'The Dark kniight': 'Christoper Nolan',
 'The Prestige': 'Christoper Nolan',
 'The  Matrix': 'Wachowski Brothers',
 'The Matrix': 'Wachowski Brothers'}

for loop in dict will iterate over key

In [18]:
for  item in datadict:
    print(datadict[item])

Alexander
True
False
29
New york
Photographer

In [19]:
for item in datadict:
    print(item)

name
isMarried
haschilder
age
city
profession

In [20]:
for k,v in datadict.items():
    print(k,v)

name Alexander
isMarried True
haschilder False
age 29
city New york
profession Photographer

In [21]:
movies.keys()

dict_keys(['Deadpool & Wolverine', 'Inception', 'The Dark kniight', 'The Prestige', 'The  Matrix', 'The Matrix'])

In [22]:
movies.values()

dict_values(['Shawn Levy', 'Christoper Nolan', 'Christoper Nolan', 'Christoper Nolan', 'Wachowski Brothers', 'Wachowski Brothers'])

nested dictionary

In [30]:
report={
    '01':{
        'name': 'Alex',
        'subject':{
            'maths': 90,
            'science':85,
            'english':95,
        }
    },
     '02':{
        'name': 'John',
        'subject':{
            'maths': 80,
            'science':75,
            'english':85,
        }
    }

}

In [31]:
report['02']['subject']['english']

85

In [32]:
from pprint import pp

In [33]:
pp(report)

{'01': {'name': 'Alex', 'subject': {'maths': 90, 'science': 85, 'english': 95}},
 '02': {'name': 'John', 'subject': {'maths': 80, 'science': 75, 'english': 85}}}

In [34]:
rainfall_data={
    'year': [2019,2020,2021,2022,2023],
    'rainfall':[100,200,300,450]

}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 300, 450]}