### String
- creation
- indexing and slicing
- methods

In [32]:
#Single quotes
a = 'apple'
print(type(a))

<class 'str'>

In [2]:
# double quotes
b = "big apple"
print(type(b))

<class 'str'>

In [3]:
# triple quotes
c =''' THIS IS THE TRIPLE QUOTE STRING '''
print(type(c))

<class 'str'>

In [4]:
d = str(123456789)
print(type(d))

<class 'str'>

# types of string
- byte b'hello'
- raw r'hello'
- format f'hrllo;

In [5]:
print(b'this is a byte string')
print(r'this is \n\n\n a byte string')
print(f'{a} is a value')

b'this is a byte string'
this is \n\n\n a byte string
apple is a value

# indexing 
''' -5 -4 -3 -2 -1
     a  b  c  d  e
     0  1  2  3  4
'''

In [6]:
word = 'Greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

G
r
e
e
k

In [7]:
msg = 'Journey before destination'
print(msg[15])
print(msg[-6])

d
n

```
sequence[start : stop]

In [8]:
print(msg[0:7])

Journey

In [12]:
print(msg[8:14])

before

In [13]:
print(msg[15:])

destination

In [16]:
name ='Vijay Deenanath Chauhan'
fname = print(name[0:5])
mname=  print(name[6:-8])
lname = print(name[16:])

Vijay
Deenanath
Chauhan

In [18]:
#reverse
print(name[:: -1])

# step
print(name[::2])
print(name[1::2])

#leaving out the start and end
print(name[5:-5])

nahuahC htananeeD yajiV
VjyDeaahCahn
ia ennt hua
 Deenanath Ch

In [28]:
x = "$599.123 only"
print("convert it into float")

print(float(x[1:-5]))

convert it into float
599.123

# String methods
- formatting
    - upper()
    - lower()
    - capitalize()
    - title()
    - swapcase()
    - casefold() 
    - center()
    - ljust()
    - rjust()

In [38]:
msg ="Life is Beautiful"
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())
print(msg.center(50))
print(msg.ljust(50))
print(msg.rjust(50))
print(msg.rjust(50,"*"))
print(msg.ljust(50,"*"))
print(msg.center(50,"*"))

LIFE IS BEAUTIFUL
life is beautiful
Life Is Beautiful
Life is beautiful
lIFE IS bEAUTIFUL
life is beautiful
                Life is Beautiful
Life is Beautiful
                                 Life is Beautiful
*********************************Life is Beautiful
Life is Beautiful*********************************
****************Life is Beautiful*****************

- validation method
    - isalpha()
    - isalnum()
    - isnumeric()
    - isdigit()
    - isspace()
    - isascii()
    - isprintable()
    - islower()
    - isupper()

In [39]:
data= input("enter something")
print(data)
print(data.isalpha())
print(data.isalnum())
print(data.isnumeric())
print(data.isdigit())
print(data.isspace())
print(data.isascii())
print(data.isprintable())
print(data.islower())
print(data.isupper())

apple pie
False
False
False
False
False
True
True
True
False